In [1]:
import pandas as pd
import numpy as np
import numpy
import matplotlib.pyplot as plt
import pandas
import math
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from tensorflow.keras.callbacks import EarlyStopping
from pandas import DataFrame
from pandas import concat
from math import sqrt
from matplotlib import pyplot

In [24]:
confirmed = pd.read_csv('../Zaida/time_series_covid19_confirmed_global.csv')
deaths = pd.read_csv('../Zaida/time_series_covid19_deaths_global.csv')
recovered = pd.read_csv('../Zaida/time_series_covid19_recovered_global.csv')

In [25]:
confirmed = confirmed.melt(id_vars=['Country/Region','Province/State','Lat','Long'],var_name="Date",value_name="Confirmed")
deaths = deaths.melt(id_vars=['Country/Region','Province/State','Lat','Long'],var_name="Date",value_name="Deaths")
recovered = recovered.melt(id_vars=['Country/Region','Province/State','Lat','Long'],var_name="Date",value_name="Recovered")
confirmed['Date'] = pd.to_datetime(confirmed['Date'])
deaths['Date'] = pd.to_datetime(deaths['Date'])
recovered['Date'] = pd.to_datetime(recovered['Date'])

df = pd.merge(confirmed,deaths,on=['Country/Region','Province/State','Lat','Long','Date'])
df = pd.merge(df,recovered,on=['Country/Region','Province/State','Lat','Long','Date']).sort_values(by=['Country/Region','Date'])
df = df[df['Province/State'].isnull()] #only take european countries from provinces

In [26]:
df

,Country/Region,Province/State,Lat,Long,Date,Confirmed,Deaths,Recovered
0,Afghanistan,NaN,33.0,65.0,2020-01-22,0,0,0
249,Afghanistan,NaN,33.0,65.0,2020-01-23,0,0,0
498,Afghanistan,NaN,33.0,65.0,2020-01-24,0,0,0
747,Afghanistan,NaN,33.0,65.0,2020-01-25,0,0,0
996,Afghanistan,NaN,33.0,65.0,2020-01-26,0,0,0
1245,Afghanistan,NaN,33.0,65.0,2020-01-27,0,0,0
1494,Afghanistan,NaN,33.0,65.0,2020-01-28,0,0,0
1743,Afghanistan,NaN,33.0,65.0,2020-01-29,0,0,0
1992,Afghanistan,NaN,33.0,65.0,2020-01-30,0,0,0
2241,Afghanistan,NaN,33.0,65.0,2020-01-31,0,0,0
2490,Afghanistan,NaN,33.0,65.0,2020-02-01,0,0,0
2739,Afghanistan,NaN,33.0,65.0,2020-02-02,0,0,0
2988,Afghanistan,NaN,33.0,65.0,2020-02-03,0,0,0
3237,Afghanistan,NaN,33.0,65.0,2020-02-04,0,0,0
3486,Afghanistan,NaN,33.0,65.0,2020-02-05,0,0,0
3735,Afghanistan,NaN,33.0,65.0,2020-02-06,0,0,0
3984,Afghanistan,NaN,33.0,65.0,2020-02-07,0,0,0
4233,Afghanistan,NaN,33.0,65.0,2020-02-08,0,0,0
4482,Afghanistan,NaN,33.0,65.0,2020-02-09,0,0,0
4731,Afghanistan,NaN,33.0,65.0,2020-02-10,0,0,0
4980,Afghanistan,NaN,33.0,65.0,2020-02-11,0,0,0
5229,Afghanistan,NaN,33.0,65.0,2020-02-12,0,0,0
5478,Afghanistan,NaN,33.0,65.0,2020-02-13,0,0,0
5727,Afghanistan,NaN,33.0,65.0,2020-02-14,0,0,0
5976,Afghanistan,NaN,33.0,65.0,2020-02-15,0,0,0
6225,Afghanistan,NaN,33.0,65.0,2020-02-16,0,0,0
6474,Afghanistan,NaN,33.0,65.0,2020-02-17,0,0,0
6723,Afghanistan,NaN,33.0,65.0,2020-02-18,0,0,0
6972,Afghanistan,NaN,33.0,65.0,2020-02-19,0,0,0
7221,Afghanistan,NaN,33.0,65.0,2020-02-20,0,0,0
...,...,...,...,...,...,...,...,...
22380,Zimbabwe,NaN,-20.0,30.0,2020-04-20,25,3,2
22629,Zimbabwe,NaN,-20.0,30.0,2020-04-21,28,3,2
22878,Zimbabwe,NaN,-20.0,30.0,2020-04-22,28,4,2
23127,Zimbabwe,NaN,-20.0,30.0,2020-04-23,28,4,2
23376,Zimbabwe,NaN,-20.0,30.0,2020-04-24,29,4,2
23625,Zimbabwe,NaN,-20.0,30.0,2020-04-25,31,4,2
23874,Zimbabwe,NaN,-20.0,30.0,2020-04-26,31,4,2
24123,Zimbabwe,NaN,-20.0,30.0,2020-04-27,32,4,5
24372,Zimbabwe,NaN,-20.0,30.0,2020-04-28,32,4,5
24621,Zimbabwe,NaN,-20.0,30.0,2020-04-29,32,4,5
24870,Zimbabwe,NaN,-20.0,30.0,2020-04-30,40,4,5
25119,Zimbabwe,NaN,-20.0,30.0,2020-05-01,40,4,5
25368,Zimbabwe,NaN,-20.0,30.0,2020-05-02,34,4,5
25617,Zimbabwe,NaN,-20.0,30.0,2020-05-03,34,4,5
25866,Zimbabwe,NaN,-20.0,30.0,2020-05-04,34,4,5
26115,Zimbabwe,NaN,-20.0,30.0,2020-05-05,34,4,5
26364,Zimbabwe,NaN,-20.0,30.0,2020-05-06,34,4,5
26613,Zimbabwe,NaN,-20.0,30.0,2020-05-07,34,4,5
26862,Zimbabwe,NaN,-20.0,30.0,2020-05-08,34,4,9
27111,Zimbabwe,NaN,-20.0,30.0,2020-05-09,35,4,9
27360,Zimbabwe,NaN,-20.0,30.0,2020-05-10,36,4,9
27609,Zimbabwe,NaN,-20.0,30.0,2020-05-11,36,4,9
27858,Zimbabwe,NaN,-20.0,30.0,2020-05-12,36,4,9
28107,Zimbabwe,NaN,-20.0,30.0,2020-05-13,37,4,12
28356,Zimbabwe,NaN,-20.0,30.0,2020-05-14,37,4,13
28605,Zimbabwe,NaN,-20.0,30.0,2020-05-15,42,4,13
28854,Zimbabwe,NaN,-20.0,30.0,2020-05-16,42,4,13
29103,Zimbabwe,NaN,-20.0,30.0,2020-05-17,44,4,17
29352,Zimbabwe,NaN,-20.0,30.0,2020-05-18,46,4,18
29601,Zimbabwe,NaN,-20.0,30.0,2020-05-19,46,4,18