In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('country_info.csv')

In [22]:
df

,Unnamed: 0,Timestamp,country,start_date,lockdown_severity,leasure_shopping_prohibited,maximum_together,mentality_grade,government_performance,kindergarten_open_to_vital,...,apr_temp,may_temp,jun_temp,july_temp,aug_temp,sept_temp,oct_temp,nov_temp,dec_temp,annual_temp
0,0,4/10/2020 14:03:47,Belgium,3/18/2020,5.0,1,2.0,7.0,6.0,1,...,8.145482,12.398000,15.434529,17.238529,17.183294,14.427412,10.678388,5.761971,3.113924,9.514241
1,1,4/15/2020 12:15:09,Croatia,3/18/2020,8.0,1,NaN,8.0,9.0,1,...,10.247004,14.759786,17.992071,20.039893,19.667285,16.355071,11.349611,5.959764,1.528573,10.470911
2,2,4/24/2020 8:17:43,Denmark,3/11/2020,5.0,1,10.0,3.0,5.0,0,...,5.867971,10.773036,14.401786,15.891429,15.902357,13.007679,9.359057,4.942146,1.645598,7.818978
3,3,4/10/2020 14:02:19,France,3/16/2020,7.1,1,2.0,7.4,7.4,1,...,9.096851,12.717758,16.097942,18.603865,18.228694,15.782718,11.746692,6.690055,3.865740,10.543722
4,4,4/15/2020 12:02:17,Germany,3/20/2020,6.0,1,2.0,7.0,8.0,1,...,7.687484,12.273226,15.496893,17.188080,16.968642,13.902305,9.431784,4.270517,0.880768,8.504452
5,5,4/10/2020 12:24:15,Ireland,3/24/2020,6.8,1,3.0,7.8,8.8,0,...,7.694678,10.073630,12.799054,14.526135,14.276838,12.459108,10.081162,6.610897,5.446403,9.107924
6,6,4/10/2020 20:23:04,Israel,4/2/2020,9.0,1,4.0,10.0,10.0,0,...,18.818000,21.895714,24.751714,26.449429,26.681571,25.123857,22.219000,17.569286,13.401857,19.698000
7,7,4/10/2020 14:02:19,Italy,3/10/2020,8.0,1,1.0,8.0,6.4,0,...,9.612692,13.777579,17.524698,20.305087,20.144344,17.185813,12.856856,8.012446,4.398412,11.500694
8,8,4/25/2020 15:36:01,Japan,4/7/2020,5.0,1,NaN,5.0,4.0,1,...,8.702060,13.524019,17.340918,21.338652,22.744000,18.757239,12.777206,7.053675,1.748080,10.362726
9,9,4/10/2020 12:36:01,United Kingdom,3/23/2020,7.0,1,2.0,7.5,7.0,1,...,6.742380,9.815439,12.765885,14.435399,14.286812,12.213888,9.472010,5.524062,3.849172,8.310239
10,10,4/10/2020 10:54:06,Netherlands,3/23/2020,5.0,0,3.0,7.0,8.0,1,...,7.562913,11.983563,14.721875,16.550938,16.639875,13.895625,10.347350,5.916237,3.490613,9.201738
11,11,4/24/2020 7:53:23,North Macedonia,3/19/2020,7.0,1,2.0,5.0,7.0,0,...,9.233964,13.985727,17.421182,19.846727,19.731727,16.310454,10.784882,5.366073,0.732434,9.853518
12,12,4/10/2020 12:46:22,Slovenia,3/16/2020,7.5,1,2.0,8.0,8.0,0,...,7.578856,12.163411,15.398967,17.378222,16.942333,13.865478,9.208933,3.580752,-0.791111,8.040211
13,13,4/10/2020 12:03:11,Switzerland,3/17/2020,8.0,1,5.0,9.0,7.0,0,...,3.347776,7.440950,10.780000,13.034811,12.544911,10.136311,6.080744,1.052785,-1.959079,4.749057
14,14,4/23/2020 18:32:39,Ukraine,3/15/2020,5.7,1,2.0,5.3,4.4,0,...,9.085106,15.090398,18.421490,19.950162,19.344385,14.776107,8.625605,2.807330,-1.976805,8.205566

# Preprocessing

#### Nans

In [6]:
df.isnull().sum()

Unnamed: 0      0
Timestamp       0
country         0
start_date      0
end_date       13
               ..
sept_temp       0
oct_temp        0
nov_temp        0
dec_temp        0
annual_temp     0
Length: 61, dtype: int64

In [8]:
df = df.drop(['end_date'],axis=1)

##### Fil Maximum_together column

In [23]:
df['maximum_together'] = df['maximum_together'].fillna(10)

0      2.0
1     10.0
2     10.0
3      2.0
4      2.0
5      3.0
6      4.0
7      1.0
8     10.0
9      2.0
10     3.0
11     2.0
12     2.0
13     5.0
14     2.0
Name: maximum_together, dtype: float64

In [20]:
df.columns[df.isna().any()].tolist()

['maximum_together',
 'hosp_beds_per_1000_2017',
 'ICU-CCB_beds_per_100000',
 'sex_male_to_female_total',
 'first_school_closure_date',
 'airport_traffic_2018_thousands']

In [21]:
df['maximum_together']

0      2.0
1      NaN
2     10.0
3      2.0
4      2.0
5      3.0
6      4.0
7      1.0
8      NaN
9      2.0
10     3.0
11     2.0
12     2.0
13     5.0
14     2.0
Name: maximum_together, dtype: float64