In [1]:
import pandas as pd
import numpy as np

In [2]:
confirmed = pd.read_csv('../Zaida/time_series_covid19_confirmed_global.csv')
deaths = pd.read_csv('../Zaida/time_series_covid19_deaths_global.csv')
recovered = pd.read_csv('../Zaida/time_series_covid19_recovered_global.csv')

In [3]:
confirmed = confirmed.melt(id_vars=['Country/Region','Province/State','Lat','Long'],var_name="Date",value_name="Confirmed").sort_values(by=['Country/Region','Date'])
deaths = deaths.melt(id_vars=['Country/Region','Province/State','Lat','Long'],var_name="Date",value_name="Deaths").sort_values(by=['Country/Region','Date'])
recovered = recovered.melt(id_vars=['Country/Region','Province/State','Lat','Long'],var_name="Date",value_name="Recovered").sort_values(by=['Country/Region','Date'])

In [4]:
df = pd.merge(confirmed,deaths,on=['Country/Region','Province/State','Lat','Long','Date'])
df = pd.merge(df,recovered,on=['Country/Region','Province/State','Lat','Long','Date'])
df = df[df['Province/State'].isnull()] #only take european countries from provinces

In [5]:
extra_data_df = pd.read_csv("../country_info.csv")
extra_data_df["Country/Region"] = [country_name.replace("'","") for country_name in extra_data_df["country"]]
extra_data_df['Province/State'] = np.nan
extra_data_df = extra_data_df.drop(['country','Timestamp'],axis=1)
extra_data_df['Province/State'] = extra_data_df['Province/State'].astype('object')
combined = pd.merge(df,extra_data_df,on=['Country/Region','Province/State'])
combined = combined.drop(['Province/State', "Lat","Long", "Unnamed: 0","end_date"],axis=1)
combined.to_csv("combined2.csv")

# COPY AND PASTE NEW NUMBERS

In [13]:
df = pd.read_csv("combined2.csv",delimiter=',')
df.Date = pd.to_datetime(df.Date)
df = df.sort_values(by=['Date'])
df = df.set_index(df.Date)
df = df.drop(['Date'],axis=1)
df = df[df['Country/Region']=='Netherlands']
df.tail(10)

,Unnamed: 0,Country/Region,Confirmed,Deaths,Recovered,start_date,lockdown_severity,leasure_shopping_prohibited,maximum_together,mentality_grade,...,apr_temp,may_temp,jun_temp,july_temp,aug_temp,sept_temp,oct_temp,nov_temp,dec_temp,annual_temp
Date,,,,,,,,,,,,,,,,,,,,,
2020-05-10,1172,Netherlands,42627,5440,0,3/23/2020,5.0,0,3.0,7.0,...,7.562913,11.983563,14.721875,16.550938,16.639875,13.895625,10.34735,5.916237,3.490613,9.201738
2020-05-11,1173,Netherlands,42788,5456,0,3/23/2020,5.0,0,3.0,7.0,...,7.562913,11.983563,14.721875,16.550938,16.639875,13.895625,10.34735,5.916237,3.490613,9.201738
2020-05-12,1174,Netherlands,42984,5510,0,3/23/2020,5.0,0,3.0,7.0,...,7.562913,11.983563,14.721875,16.550938,16.639875,13.895625,10.34735,5.916237,3.490613,9.201738
2020-05-13,1175,Netherlands,43211,5562,0,3/23/2020,5.0,0,3.0,7.0,...,7.562913,11.983563,14.721875,16.550938,16.639875,13.895625,10.34735,5.916237,3.490613,9.201738
2020-05-14,1176,Netherlands,43481,5590,0,3/23/2020,5.0,0,3.0,7.0,...,7.562913,11.983563,14.721875,16.550938,16.639875,13.895625,10.34735,5.916237,3.490613,9.201738
2020-05-15,1177,Netherlands,43681,5643,0,3/23/2020,5.0,0,3.0,7.0,...,7.562913,11.983563,14.721875,16.550938,16.639875,13.895625,10.34735,5.916237,3.490613,9.201738
2020-05-16,1178,Netherlands,43870,5670,0,3/23/2020,5.0,0,3.0,7.0,...,7.562913,11.983563,14.721875,16.550938,16.639875,13.895625,10.34735,5.916237,3.490613,9.201738
2020-05-17,1179,Netherlands,43995,5680,0,3/23/2020,5.0,0,3.0,7.0,...,7.562913,11.983563,14.721875,16.550938,16.639875,13.895625,10.34735,5.916237,3.490613,9.201738
2020-05-18,1180,Netherlands,44141,5694,0,3/23/2020,5.0,0,3.0,7.0,...,7.562913,11.983563,14.721875,16.550938,16.639875,13.895625,10.34735,5.916237,3.490613,9.201738
2020-05-19,1181,Netherlands,44249,5715,0,3/23/2020,5.0,0,3.0,7.0,...,7.562913,11.983563,14.721875,16.550938,16.639875,13.895625,10.34735,5.916237,3.490613,9.201738

,Unnamed: 0,Country/Region,Date,Confirmed,Deaths,Recovered,start_date,lockdown_severity,leasure_shopping_prohibited,maximum_together,...,apr_temp,may_temp,jun_temp,july_temp,aug_temp,sept_temp,oct_temp,nov_temp,dec_temp,annual_temp
0,0,Belgium,1/22/20,0,0,0,3/18/2020,5.0,1,2.0,...,8.145482,12.398,15.434529,17.238529,17.183294,14.427412,10.678388,5.761971,3.113924,9.514241
1,1,Belgium,1/23/20,0,0,0,3/18/2020,5.0,1,2.0,...,8.145482,12.398,15.434529,17.238529,17.183294,14.427412,10.678388,5.761971,3.113924,9.514241
2,2,Belgium,1/24/20,0,0,0,3/18/2020,5.0,1,2.0,...,8.145482,12.398,15.434529,17.238529,17.183294,14.427412,10.678388,5.761971,3.113924,9.514241
3,3,Belgium,1/25/20,0,0,0,3/18/2020,5.0,1,2.0,...,8.145482,12.398,15.434529,17.238529,17.183294,14.427412,10.678388,5.761971,3.113924,9.514241
4,4,Belgium,1/26/20,0,0,0,3/18/2020,5.0,1,2.0,...,8.145482,12.398,15.434529,17.238529,17.183294,14.427412,10.678388,5.761971,3.113924,9.514241

In [ ]:
for i in df.columns: 
    if df[i].dtype == object:
        print(i)

In [ ]:
# label_encoder = LabelEncoder()
# df['Country/Region'] = label_encoder.fit_transform(df['Country/Region']).astype('float64')
# df['start_date'] = label_encoder.fit_transform(df['start_date']).astype('float64')
# df['covid19_first_date'] = label_encoder.fit_transform(df['covid19_first_date']).astype('float64')
# df['first_school_closure_date'] = label_encoder.fit_transform(df['first_school_closure_date']).astype('float64')
df['Urban_pop_pct'] = df['Urban_pop_pct'].map(lambda x: x.lstrip('%').rstrip('%')).astype(float)/100

In [ ]:
df = df.apply(pd.to_numeric)
df = df.astype(float)

In [ ]:
df.to_csv("NL_floats_temporal.csv")